<html>
<head>
<title>Auto QA</title>
</head>
<body>
<h1>Instructions</h1>
<p>Please provide the website you would like to QA along with instructions below:</p>
<form method="POST">
<label for="url-input">Website to test:</label>
  <input type="text" id="url-input" name="url" size="50" value="https://news.ycombinator.com/from?site=lifeofaudrey.com"><br><br>

  <label for="instructions-input">Instructions (Please include one for now):</label>
  <textarea id="instructions-input" name="instructions" rows="5" cols="40">Click on the first article link to see if it loads</textarea><br>

  <input type="submit" value="Submit">
  </form>
</body>
</html>  